.container {
  display: flex;
}
.user-list {
  font-family: "Roboto", sans-serif;
  width: 20%;
  padding: 10px;
}
.post-list {
  width: 70%;
  padding: 10px;
  
}
.user-item {
  cursor: pointer;
  padding: 10px;
  
}
.user-item:hover {
  background-color: #3f9bd8;
  border-radius: 5px;
  color: #eee;
}
.post-item {
  font-family: "San Francisco", sans-serif;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.post-item:hover {
  background-color: #f3f2f2;
  border-radius: 10px;
}
.user-info {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.user-info:hover {
  background-color: #f3f2f2;
  border-radius: 10px;
}
